extends ../../layouts/default
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)
    h1(class="mb-4") Chi tiết tài khoản
    
    div(class="form-group")
        label(for="fullname") Họ tên *
        input(
            type="text"
            class="form-control"
            id="fullname"
            name="fullname"
            value=account.fullname
        )
    div(class="form-group")
        label(for="email") Emai *
        input(
            type="text"
            class="form-control"
            id="email"
            name="email"
            value=account.email
        )
    div(
        class="form-group"
        upload-image
    )
        label(for="avatar") Avatar
        input(
            type="file"
            class="form-control-file"
            id="avatar"
            name="thumbnail"
            accept="image/*"
            upload-image-input
        )
        div(
            class= "image-container"
        )
            img(
                src=account.avatar
                upload-image-preview
                class="image-preview"
            )
            button(id="button-close-image") X
    
    div(class="form-group")
        label(for="role_id") Quyền
        input(
            type="text"
            class="form-control"
            id="role_id"
            name="role_id"
            value=role.title
        )

    div(class="form-group form-check form-check-inline")
        input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked=(account.status == "active" ? true : false)
        )
        label(for="statusActive" class="form-check-lable") Hoạt động 
    div(class="form-group form-check form-check-inline")
        input(
            type="radio"
            class="form-check-input"
            id="statusInactive"
            name="status"
            value="inactive"
            checked=(account.status == "inactive" ? true : false)
        )
        label(for="statusInactive" class="form-check-lable") Dừng hoạt động 
    div
        a(
            href=`${prefixAdmin}/accounts/edit/${account.id}`
            class="btn btn-warning"
        ) Chỉnh sửa