mixin sort()
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        )
            option(value="price-asc" selected=true) Giá tăng dần
            option(value="price-desc") Giá giảm dần
            option(value="title-asc") Tiêu đề A - Z
            option(value="title-desc") Tiêu đề Z - A

        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Xóa

mixin sortAccount()
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        )
            option(value="email-asc") Email A - Z
            option(value="email-desc") Email Z - A
            option(value="role_id-asc") Quyền giảm dần
            option(value="role_id-desc" selected=true) Quyền tăng dần

        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Xóa