extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)
    
    h1(class="mb-4") Sửa thông tin quyền

    form(
        action =`${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=role.title
            )
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                class="form-control textarea-mce"
                name="description"
                id="my-expressjs-tinymce-app"
                rows="5"
                textarea-mce 
            ) !{role.description}
            
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật

    script(src="/admin/js/products.js") 
    //- <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    //- <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/admin/js/my-tinymce-config.js"></script>