extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    if(role.permission.includes("tour_create"))
        +alert-success(5000)
        h1(class="mb-4") Thêm mới sản phẩm
        
        form(
            action =`${prefixAdmin}/tours/create`
            id="form-create-tour"
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class="form-group")
                label(for="category_id") Danh mục
                select(
                    name="category_id"
                    id="category_id"
                    class="form-control"
                )
                    option(value="" disabled selected) -- Chọn danh mục --
                    each category in categories
                        option(value=category.id ) #{category.title}
                        
            div(class="form-group")
                label(
                    for="images"
                    upload-image
                    ) Chọn nhiều ảnh
                input(
                    type="file"
                    class="form-control-file"
                    id="images"
                    name="images"
                    accept="image/*"
                    upload-image-imput
                    multiple
                )

            //- div(class="form-group form-check form-check-inline")
            //-     input(
            //-         type="radio"
            //-         class ="form-check-input"
            //-         id="featured1"
            //-         name="featured"
            //-         value="1"
            //-     )
            //-     lable(for="featured1" class="form-check-lable") Nổi bật
            //- div(class="form-group form-check form-check-inline")
            //-     input(
            //-         type="radio"
            //-         class ="form-check-input"
            //-         id="featured0"
            //-         name="featured"
            //-         value="0"
            //-         checked
            //-     )
            //-     lable(for="featured0" class="form-check-lable") Không 
            
            div(class="form-group")
                label(for="price") Giá
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="discount") % Giảm giá
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discount"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="stock") Số lượng
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="timeStart") Lịch khởi hành
                input(
                    type="datetime-local"
                    class="form-control"
                    id="timeStart"
                    name="timeStart"
                    value="0"
                    min="0"
                )
            
                //- div(class= "image-container")
                //-     img(
                //-         src=""
                //-         upload-image-preview
                //-         class="image-preview"
                //-     )
                //-     button(id="button-close-image") X

            div(class="form-group")
                label(for="information") Thông tin tour
                textarea(
                    class="form-control textarea-mce"
                    name="information"
                    id="information"
                    textarea-mce 
                )
            div(class="form-group")
                label(for="schedule") Lịch trình tour
                textarea(
                    class="form-control textarea-mce"
                    id="schedule"
                    name="schedule"
                    textarea-mce 
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusActive" class="form-check-lable") Hoạt động 
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                )
                label(for="statusInactive" class="form-check-lable") Dừng hoạt động 
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tạo mới
    
    script(src="/admin/js/products.js") 
    //- <!-- Script element sourcing TinyMCE -->
    <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
    //- <!-- Script element sourcing the TinyMCE configuration -->
    <script type="application/javascript" src= "/admin/js/my-tinymce-config.js"></script>