extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/changeMulti.pug
include ../../mixins/formHidden.pug
//- include ../../mixins/alert.pug
include ../../mixins/sort.pug
//- include ../../mixins/moment.pug

block main 
    //- +alert(5000)
    h1 Trang danh sách tour

    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body 
            .row
                .col-6
                    +filterStatus(filterStatus)
                .col-6
                    +search(keyword)
    .card.mb-3 
        .card-header Sắp xếp 
        .card-body 
            .row
                .col-4  
                    +sort()
                  

    .card.mb-3 
        .card-header Danh sách tour
        .card-body 
            .row 
                .col-10
                    +changeMulti(`${prefixAdmin}/tours/change-multi?_method=PATCH`)
                .col-2
                    a(
                        href=`${prefixAdmin}/tours/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới 
            
            table(
                class="table table-hover table-sm"
                checkbox-multi
                )
                thead 
                    tr 
                        th
                            input(type="checkbox" name="checkall")
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Trạng thái
                        //- th Người tạo
                        //- th Người sửa 
                        th Hành động 
                tbody 
                    each item, index in tours
                        tr 
                            td  
                                input(type="checkbox" name="id" value = item.id)
                            td #{index + 1}
                            td 
                                img(src=item.image, alt=item.title,width="100px", height="auto")
                                
                            td #{item.title}
                            td #{item.price.toLocaleString()}VNĐ
                            td
                                if(item.status == "active")
                                    a(
                                    href="javascript:;" 
                                    data-status = item.status 
                                    data-id = item.id 
                                    button-change-status
                                    class="badge badge-success"
                                    
                                    ) Hoạt động
                                else 
                                    a(
                                    href="javascript:;"
                                    data-status = item.status 
                                    data-id = item.id 
                                    button-change-status  
                                    class="badge badge-danger") Dừng hoạt động
                            //- td 
                            //-     p #{item.accountFullname}
                            //-     a(href=`${prefixAdmin}/products/create-by/${item.id}`) Chi tiết
                            
                            //- td  
                            //-     p #{item.updateFullname}
                            //-     a(href=`${prefixAdmin}/products/update-by/${item.id}`) Chi tiết
                                //- - const updateBy = item.updateBy[item.updateBy.length - 1]
                                //- if(updateBy)
                                //-     p #{item.updateFullname}
                                //-     p
                                //-         +momentUpdate(updateBy.updateAt)

                            td
                                a(
                                    href=`${prefixAdmin}/products/edit/${item.id}`
                                    class="btn btn-warning btn-sm"
                                ) Sửa
                                button(
                                    id-item = item.id
                                    button-delete
                                    class="btn btn-danger btn-sm ml-1"
                                ) Xóa
                                a(
                                    href=`${prefixAdmin}/products/detail/${item.id}`
                                    class="btn btn-info btn-sm ml-1"
                                ) Chi tiết
    +pagination(objectPagination)

    +formHidden("form-change-status", `${prefixAdmin}/tours/change-status`)
    //- +formHidden("form-button-delete", `${prefixAdmin}/products/delete`)
    script(src="/admin/js/product.js") 