extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  +alert-error(5000)
  +alert-success(5000)
  h1(class="mb-4") Thông tin cá nhân 


  if(account.avatar)
    img(src=account.avatar width="150px" class="mb-3" alt="Avatar")
  else 
    img(src="/admin/images/avatar.png" alt="Ảnh lỗi")

  if(account.fullname)
    p Họ tên: <b>#{account.fullname}</b>

  if(account.email)
  p Email: <b>#{account.email}</b>

  p 
    span Trạng thái
    span 
      <b> #{account.status == "active" ? "Hoạt động" : "Dừng hoạt động"} </b>

  if(role.title)
    p Phân quyền: <b>#{role.title}</b>

  a(
    href=`${prefixAdmin}/my-account/edit`
    class="btn btn-primary btn-sm"
  ) Chỉnh sửa thông tin cá nhân