.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            
            li 
                a(href=`${prefixAdmin}/tours-category`) Danh mục tour
            
            li 
                a(href=`${prefixAdmin}/tours`) Danh sách tour

            li 
                a(href=`${prefixAdmin}/roles`) Danh sách nhóm quyền

            li 
                a(href=`${prefixAdmin}/roles/permissions`) Phân quyền

            li 
                a(href=`${prefixAdmin}/accounts`) Danh sách tài khoản

            li 
                a(href=`${prefixAdmin}/orders`) Danh sách đơn hàng